# Ignore
PharmacoDI/data/metadata/Annotations
PharmacoDI/data/metadata/*
PharmacoDI/data/rawdata/*
*.RData
.idea
rPharmacoDI/data/rawdata/*
rPharmacoDI/data/metadata/*

# Exceptions
!PharmacoDI/data/metadata/getMetadata.sh
!PharmacoDI/data/rawdata/downloadPSets.sh
!*placeholder.txt
