# Ignore
PharmacoDI/data/metadata/Annotations
PharmacoDI/data/rawdata/*
*.RData
.idea
rPharmacoDI/data/rawdata/*
rPharmacoDI/data/metadata/*
rPharmacoDI/scripts
**.deprecated
PharmacoDI/data/latest/*
PharmacoDI/data/procdata/*
PharmacoDI/scripts/__pycache__/*
.*Rprofile

# Exceptions
!PharmacoDI/data/metadata/getMetadata.sh
!PharmacoDI/data/rawdata/downloadPSets.sh
!*placeholder.txt
